.square {
  width: 100px;
  height: 100px;
  border-color: green !important;
  font-size: 3.5rem !important;
  font-weight: 900 !important;
}

.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
}

.X {
  color: red !important;
}
